package main

import (
	"database/sql"
	"fmt"
	"net/http"
	"os/exec"
	"strconv"
)

func lookup(db *sql.DB, name string) {
	// ruleid: getzilla.go.sql-injection
	db.Query(fmt.Sprintf("SELECT * FROM users WHERE name = '%s'", name))
}

func handler(db *sql.DB) http.HandlerFunc {
	return func(w http.ResponseWriter, r *http.Request) {
		name := r.URL.Query().Get("name")
		lookup(db, name)
		// ok: getzilla.go.sql-injection
		db.Query("SELECT * FROM users WHERE name = $1", name)
		id, _ := strconv.Atoi(r.FormValue("id"))
		// ok: getzilla.go.sql-injection
		db.Query(fmt.Sprintf("SELECT * FROM users WHERE id = %d", id))

		host := r.FormValue("host")
		// ruleid: getzilla.go.command-injection
		exec.Command("sh", "-c", "ping -c 1 "+host).Run()
		// ok: getzilla.go.command-injection
		exec.Command("ping", "-c", "1", host).Run()

		// ruleid: getzilla.go.ssrf
		http.Get(r.URL.Query().Get("url"))
	}
}
